<ion-header>
  <ion-toolbar>
    <ion-title>operaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingresa primer numero numero:</ion-label>
    <ion-input [(ngModel)]="numero1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ingresa operación:</ion-label>
    <ion-input [(ngModel)]="operacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ingresa segundo numero:</ion-label>
    <ion-input [(ngModel)]="numero2"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="result()" >
    OPERAR
  </ion-button>

   <h1> El resultado es: {{resultado}} </h1>

   <ion-button expand="full" routerLink="/home">
    Volver
    </ion-button>



</ion-content>
